        <footer class="footer">
            <div class="footer-wrapper">
                <div class="upper-footer-container">
                    <div class="payments-container">
                        <img src="/assets/images/paypal.svg" class="w-16" alt="" />
                        <img src="/assets/images/mastercard.svg" class="w-14" alt="" />
                        <img src="/assets/images/visa.svg" class="w-11" alt="" />
                        <img src="/assets/images/amex.svg" class="w-14" alt="" />
                    </div>
                    <ul class="footer-navigation">
                        <li class="min-w-fit"><a href="#" class="hover:underline hover:font-semibold">Warranty
                                Policy</a></li>
                        <li class="min-w-fit"><a href="#" class="hover:underline hover:font-semibold">Sell with us</a>
                        </li>
                        <li class="min-w-fit"><a href="#" class="hover:underline hover:font-semibold">Terms of Use</a>
                        </li>
                        <li class="min-w-fit"><a href="#" class="hover:underline hover:font-semibold">Terms of Sale</a>
                        </li>
                        <li class="min-w-fit"><a href="#" class="hover:underline hover:font-semibold">Privacy Policy</a>
                        </li>
                    </ul>
                </div>

                <!-- copyright section -->
                <div class="copyright-container">
                    <p>&copy; 2023 ChicCart. All Rights Reserved</p>
                </div>
            </div>
        </footer>