<%- include('./layouts/main_start.ejs') %>
<%- include('./layouts/header.ejs') %>
<!--!! content start !!-->
<main class="content"><img src="/assets/images/404.svg" alt="" class=" max-w-[500px] lg:max-w-[550px] m-auto" />
</main>
<!--!! content start !!-->
<%- include('./layouts/footer.ejs') %>
<%- include('./layouts/main_end.ejs') %>