<%- include('./layouts/main_start.ejs') %>
<%- include('./layouts/header.ejs') %>
<!--!! content start !!-->
<main class="content justify-center">
    <img src="/assets/images/500_2.svg" class="max-w-[500px] lg:max-w-[550px] m-auto" />
</main>
<!--!! content start !!-->
<%- include('./layouts/footer.ejs') %>
<%- include('./layouts/main_end.ejs') %>